@font-face {
  font-family: 'genshin-icon';
  src: url('/assets/fonts/genshin-icon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gi-global';
  src: url('/assets/fonts/optimized_global_web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gi-jp';
  src: url('/assets/fonts/optimized_jp_web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
