.gi {
  font-family: 'genshin-icon' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.gi-help::before {
  content: '\0053';
  color: #fff;
}

.gi-chat::before {
  content: '\5a';
  color: #fff;
}

.gi-fullscreen::before {
  content: '\23';
  color: #fff;
}

.gi-plus::before {
  content: '\59';
}

.gi-close::before {
  content: '\6b';
}

.gi-arrow-right::before {
  content: '\5f';
  color: #ece5d8;
  font-size: 2rem;
}

.gi-arrow-left::before {
  content: '\60';
  color: #ece5d8;
  font-size: 2rem;
}

.gi-delete::before {
  content: '\71';
}

.gi-win::before {
  content: '\33';
  color: #bd6932;
}

.gi-lose::before {
  content: '\31';
  color: #bd6932;
}

.gi-guaranteed::before {
  content: '\35';
  color: #bd6932;
}

.gi-captured::before {
  content: '\72';
  color: #bd6932;
}

.gi-check::before {
  content: '\2714';
  color: #eee;
}

.gi-caret-up::before {
  content: '\47';
}
.gi-caret-down::before {
  content: '\48';
}

.gi-primo-star::before {
  content: '\72';
  font-size: 0.7rem;
}

.gi-companion::before {
  content: '\68';
  font-size: 3rem;
  margin-left: 10px;
}

.gi-primo-star::before {
  content: '\72';
  font-size: 0.7rem;
}

.gi-star:before {
  content: '\45';
  color: #f7cf33;
  font-size: 1.525em;
  display: inline-block;
}

.gi-circle-o::before {
  content: '\46';
  color: #f7cf33;
}

.gi-times:before {
  content: '\41';
  color: #3f9ad1;
}
