.wish-title {
  color: #fff;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 110%;
  img {
    width: 30px;
    margin-right: 15px;
  }
  .btn-help {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 0.15rem solid #fff;
    width: 1.7rem;
    height: 1.7rem;
    margin-left: 12px;
  }
  button {
    font-size: 1rem;
    margin-left: 12px;
  }
}
.wapper {
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #4f6d95;
  border-radius: 0.25rem;
  width: 90px;
  height: 40px;
  min-width: 50px;
  aspect-ratio: 2.4 / 1;
  margin: 0.6em 0.5em;
  position: relative;
  transition: all 0.2s;
  margin-top: 6px;

  .gi {
    color: #6d8fbb;
  }

  img {
    width: 100%;
    height: 120%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  &.selected {
    background-color: #f7f3d8;
    height: 46px;
    margin-top: 0;
    .gi {
      color: #eee2c8;
    }
  }
  &:hover {
    background-color: #f7f3d8;
    height: 46px;
    margin-top: 0;
    .gi {
      color: #eee2c8;
    }
  }
}
.wapper::before {
  content: '';
  display: block;
  width: 90%;
  height: 75%;
  border: 2.5px solid #6d8fbb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  border-radius: 40px;
}

.wapper.selected::before {
  border-color: #eee2c8;
}
.wapper:hover::before {
  border-color: #eee2c8;
}

.budget {
  display: flex;
  align-items: center;
  gap: 12px;
  .fates {
    .button-fate {
      display: inline-block;
      height: 25px;
      overflow: hidden;
      background-color: #0000004d;
      border-radius: 50px;
      color: #fff;
      vertical-align: middle;
      text-align: center;
      position: relative;
      margin: 0 10px 0 0;
      padding: 0 1rem 0 1.85rem;
      border: 0.7px solid #656565;
      img {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        height: 80%;
      }
      .svelte {
        width: 1.2rem;
        height: 1.2rem;
        color: #000000b3;
        background-color: #e0ddd4;
        border-radius: 100%;
        position: absolute;
        right: 3px;
        top: 50%;
        font-size: 110%;
        line-height: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        transition: all 0.2s;
      }
    }
  }
  .close {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    width: 35px;
    height: 35px;
    color: #000000b3;
    background-color: #e0ddd4;
    border: 3.5px solid #abbcc6;
    padding: 0;
    line-height: 0;
    overflow: hidden;
    border-radius: 50px;
    transition: all 0.2s;
    &:hover {
      border-color: #fff;
      box-shadow: #a0afbe99 0 0 7px 5px;
    }
  }
}

.hero-banner {
  display: flex;
  position: relative;
  .img {
    height: 500px;
  }
  .frame-content {
    text-align: left;
    position: absolute;
    color: #565654;
    height: 100%;
    width: 100%;
    .top {
      color: #fff;
      padding: 0.3% 1.4%;
      border-bottom-left-radius: 2rem;
      border-top-left-radius: 2rem;
      border-bottom-right-radius: 4rem;
      top: 0;
      left: 0;
      width: fit-content;
    }
    .heading {
      display: flex;
      align-items: center;
      bottom: 67%;
      left: 0;
      margin: 0 4%;
      height: 100px;
      width: 45%;
      text-align: left;
      line-height: 100%;
      font-weight: 400;
      font-size: 40px;
    }
    .description {
      width: 45%;
      display: block;
      padding-left: 4%;
      overflow: auto;
      position: relative;
      margin-top: 60px;
      .set {
        text-align: left;
        line-height: 100%;
        font-size: 20px;
      }
      .des {
        color: #fff;
        min-height: 70px;
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0.5rem 0;
        padding: 10px;
      }
      .note {
        font-size: 16px;
      }
    }
    .description::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 5px;
      left: 8px;
      background-color: #565654;
    }
    .character {
      text-align: left;
      position: absolute;
      left: 50.5%;
      bottom: 10.5%;
      &.noelle {
        top: 70%;
        left: 57.6%;
      }
      .char-name {
        position: relative;
        .name {
          color: #fff;
          display: inline-block;
          -webkit-text-stroke: 0.02rem #565654;
          text-shadow: 0 0 0.15rem #d2c69c;
          line-height: 100%;
          font-size: 30px;
        }
        .up {
          color: #fff664;
          -webkit-text-stroke: 0.05rem #e7a12e;
          font-size: 18px;
          filter: drop-shadow(0 0.3rem 0.5rem #fff);
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(100%) translateY(-50%);
          text-transform: uppercase;
          text-shadow: 0 0 0.4rem #f79c09;
        }
      }
      .char-title {
        color: #cfbc99;
        background-color: #39425d;
        padding: 1% 2%;
        white-space: nowrap;
        width: fit-content;
        margin-top: 40px;
      }
    }
    .featured {
      text-align: left;
      position: absolute;
      left: 47.5%;
      top: 70%;
      .weapon-name {
        position: relative;
        .name {
          color: #fff;
          display: inline-block;
          -webkit-text-stroke: 0.02rem #565654;
          text-shadow: 0 0 0.15rem #d2c69c;
          line-height: 100%;
          font-size: 20px;
          max-width: 200px;
          white-space: normal;
          word-break: break-word;
        }
        .up {
          color: #fff664;
          -webkit-text-stroke: 0.05rem #e7a12e;
          font-size: 18px;
          filter: drop-shadow(0 0.3rem 0.5rem #fff);
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(100%) translateY(-150%);
          text-transform: uppercase;
          text-shadow: 0 0 0.4rem #f79c09;
        }
      }
    }
    .rateup {
      text-align: left;
      position: absolute;
      left: 81.5%;
      bottom: 21%;
      width: 10%;
      .name {
        color: #fff;
        display: inline-block;
        -webkit-text-stroke: 0.02rem #565654;
        text-shadow: 0 0 0.15rem #d2c69c;
        line-height: 100%;
        font-size: 20px;
        max-width: 100px;
        white-space: normal;
        word-break: break-word;
      }
      .up {
        color: #fff664;
        -webkit-text-stroke: 0.05rem #e7a12e;
        font-size: 18px;
        filter: drop-shadow(0 0.3rem 0.5rem #fff);
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(100%) translateY(-150%);
        text-transform: uppercase;
        text-shadow: 0 0 0.4rem #f79c09;
      }
    }
    .group {
      position: absolute;
      text-align: left;
      .char-name {
        position: relative;
        .name {
          color: #fff;
          display: inline-block;
          -webkit-text-stroke: 0.02rem #565654;
          text-shadow: 0 0 0.15rem #d2c69c;
          line-height: 100%;
          font-size: 30px;
        }
      }
      .char-title {
        color: #cfbc99;
        background-color: #39425d;
        padding: 1% 2%;
        white-space: nowrap;
        width: fit-content;
      }
    }
    .group-1 {
      left: 36.5%;
      top: 80%;
      .char-title {
        margin-top: 20px;
      }
    }
    .group-2 {
      left: 46%;
      top: 28%;
      .char-title {
        margin-top: 18px;
      }
    }
    .group-3 {
      left: 61%;
      top: 55%;
      .char-title {
        margin-top: 36px;
      }
    }
    .group-4 {
      left: 75.1%;
      bottom: 4%;
      width: 24%;
      line-height: 170%;
      .char-title {
        margin-top: 26px;
        color: #fff;
        background-color: #f7ab48;
        font-size: 11px;
        line-height: 130%;
      }
    }
  }
  .navigate {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    transition: all 0.2s;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  .svelte-btn {
    position: relative;
    border: 3.5px solid transparent;
    border-radius: 50px;
    background-color: #e0ddd4;
    box-shadow:
      0 2px 2px #64646433,
      0 2px 2px #64646430;
    padding: 0.25rem 1.5rem;
    margin: 2px 5px;
    transition: all 0.2s;
    border: solid transparent;
    font-size: 90%;
    color: #000000b3;
  }
  .svelte-btn:hover {
    border-color: #fff;
  }
  .wish-btn {
    background-image: url('/assets/images/icon/button-wish.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 230px;
    aspect-ratio: 355 / 88;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #a49a90;
    transition: all 0.2s;
    .bottom {
      display: flex;
      align-items: center;
      gap: 8px;
      img {
        height: 20px;
        width: auto;
      }
    }
    &.disabled {
      .bottom {
        color: #de2f22 !important;
      }
    }
  }
}

.animation-screen {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000b3;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .skip-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    z-index: 50;
  }
}
