.select-list {
  background-color: #646975;
  border: 0;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  .item {
    text-align: left;
    display: block;
    width: 100%;
    color: #757575;
    text-decoration: none;
    padding: 20px 30px;
    color: #eee;
    width: 98%;
    margin: 0.5% 1%;
    position: relative;
  }
  .selected {
    background-color: #717887;
    border-radius: 3rem;
  }
  .item:hover {
    background-color: #717887;
    border-radius: 3rem;
  }
  .gi-check {
    position: absolute;
    display: block;
    top: 50%;
    right: 5%;
    font-size: 170%;
    line-height: 0;
    transform: translateY(-50%);
  }
}
